/* AddDrinkForm.css */
.add-drink-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;  /* Ensure it takes up the full viewport width */
    padding: 20px;
    box-sizing: border-box;
  }
  
  h2 {
    color: #333;
    font-size: 2rem;
  }
  
  .form-group, .ingredient-section {
    width: 100%; /* Make form groups take full width */
    max-width: 600px; /* Set a max-width for better readability on large screens */
    margin: 20px 0;
  }
  
  .form-group label, .ingredient-section label {
    display: block; /* Ensure labels are full-width */
    margin: 10px 0;
    color: #666;
  }
  
  input[type="text"], textarea, input[type="checkbox"] {
    width: 100%; /* Full-width inputs */
    padding: 8px;
    margin-top: 5px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  input[type="checkbox"] {
    width: auto; /* Override for checkboxes */
    margin-right: 10px;
  }
  
  .submit-button {
    background-color: #0056b3;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1.1rem;
  }
  
  .submit-button:hover {
    background-color: #004494;
  }
  
  textarea {
    height: 100px; /* Set a fixed height for textareas */
  }
  
  .ingredient-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
  }
  
  .ingredient-section label {
    flex: 1 1 30%; /* Flex basis of 30% allowing wrapping */
    margin: 5px;
  }
  
  /* Responsive adjustments */
  @media (max-width: 768px) {
    .form-group, .ingredient-section {
        width: 90%; /* Slightly smaller width on smaller screens */
    }
  }
  /* AddDrinkForm.css */
  .ingredient-section {
    display: flex;
    flex-wrap: wrap; /* Allow the checkboxes to wrap onto the next line */
    justify-content: flex-start; /* Align items to the start */
    margin-bottom: 20px; /* Space between sections */
  }
  
  .ingredient-section h3 {
    width: 100%; /* Make headings take the full width */
    margin-top: 20px;
    color: #333;
    font-size: 1.5rem;
  }
  
  .ingredient-section label {
    flex: 1 1 20%; /* Adjust the flex-basis to manage the number of items per row */
    margin: 5px;
    font-size: 0.9rem; /* Adjust font size as needed */
    color: #666; /* Dark gray color for text */
  }
  
  .ingredient-section input[type="checkbox"] {
    margin-right: 10px; /* Space between the checkbox and the label text */
  }
  
  @media (max-width: 768px) {
    .ingredient-section label {
        flex: 1 1 45%; /* Have fewer items per row on smaller screens */
    }
  }
  
  @media (max-width: 480px) {
    .ingredient-section label {
        flex: 1 1 90%; /* Stack them vertically on very small screens */
    }
  }
  
    